body {
    background-image: url('BackgroundImage1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.outerContainer {

    margin: auto;
    margin-top: 150px;
    max-width: 800px;
    max-height: 900px;
    min-height: 300px;
    background-color: rgba(226, 234, 236, 0.96);
    padding: 10px;
    border-radius: 5px;
    text-align:center;
    vertical-align: middle;

}

.imageContainer img {
    border-radius: 8px;
    width: 300px;
}

.innerContainer {
    overflow: auto;
    max-height: 600px;
}
 .imageContainer {
     columns: 2;
     -webkit-columns: 2;
     -moz-columns: 2;
     list-style: none;
     margin: auto;
 }

::-webkit-scrollbar {
    display: none;
}